{
    "version": "2018-05-29",
    "operation": "Invoke",
    "payload": {
        "fieldName": "setUsername",
        "identity": $utils.toJson($context.identity),
        "arguments":  $utils.toJson($context.arguments)
    }
}
